<div class='row no-gutters d-none' id='ubs_list'>
  <div class='col-3 dv-ubs p-3'>
    <div class='row no-gutters pb-2 border border-primary border-right-0 border-left-0 border-top-0 text-center'>
      <div class='col-12'>
        <h6 class='m-0'><strong>UBS VIEW</strong></h6>
      </div>
    </div>

    <div class='row no-gutters p-2 border border-primary border-right-0 border-left-0 border-top-0 text-center'>
      <div class='col-12 text-center'>
        <h6 class='m-0'><strong>Encontrado <span id='ubs_total'></span> UBS</strong></h6>
      </div>
    </div>

    <div class='row no-gutters mt-2 px-2 dv-lista'></div>

  </div>
</div>
