@import "bootswatch/dist/united/variables";
@import "bootstrap/scss/bootstrap";
@import "bootswatch/dist/united/bootswatch";

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

button, .btn{ cursor: pointer !important; }

#map { height: 100%; }

.dv-ubs{
  position: absolute;
  background-color: rgba(255,255,255,0.8);
  border-radius: 3px;
  overflow: hidden;
  top: 50px;
  left: 20px;
}

.dv-lista{
  max-height: 450px;
  overflow: scroll;
  overflow-x: hidden;
}

.dv-lista h5{ font-size: 12px; }

.dv-lista h6{ font-size: 11px; }
